body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px;
}

.Column-Header{
    display: flex;
    justify-content: space-between;
    width: 280px;
}
.SubHeader{
    display: flex;
    align-items: center;
}
.column-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    vertical-align: middle;
  }
  
.kanban-board {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}
.CardHeader{
    display: flex;
    justify-content: space-between;
}
.kanban-column {
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 280px;
    min-height: 100px; 
}   

.kanban-card {
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    padding: 12px;
    margin-bottom: 12px;
    transition: box-shadow 0.3s ease;
}

.kanban-card:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.kanban-card p {
    font-size: 0.75rem;
    margin: 4px 0;
    color: #666666;
}
#card-body{
    padding: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .kanban-board {
        flex-direction: column;
        gap: 10px;
        margin-left: 40px;
    }
}
